/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

nav ul {
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    position:relative;
    display:inline-block;
    z-index:1;
    padding:0 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 50px;
    margin: 0 10%;
}

/* Home Section */
#home {
    background-color: #f4f4f4;
    text-align: center;
}

.profile-img {
    filter:drop-shadow(10px 10px 10px black);
    width: 150px;
    height: 150px;
    
    margin-bottom: 20px;
}
.profile-img:hover{
     transition: all 1s ease-in-out;
     border-radius: 50%;

}


#home h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

/* About Section */
#about h2 {
    font-size: 28px;
    margin-bottom: 20px;
}
/* Contact Section */
#contact form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

#contact form label {
    margin-top: 10px;
}

#contact form input, 
#contact form textarea {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#contact form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#contact form button:hover {
    background-color: #555;
    border-radius:100px;
    transition: all 1s ease-in-out;
}

/* Resume Section */
#resume .download-btn {
    border-radius:50px;
    background-color: #333;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

#resume .download-btn:hover {
    background-color: #555;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    section {
        margin: 0 5%;
    }

    #contact form {
        width: 80%;
    }
}
